@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 700;
  src: url("Tajawal-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 800;
  src: url("Tajawal-ExtraBold.ttf") format("truetype"); }







